@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    direction: rtl;
}




h2, p{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.nav-font{
    font-family: 'IBM Plex Sans Arabic', sans-serif;

}




